body {
    background-color: antiquewhite;
}

.logo {
    color: rgb(97, 199, 165);
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
}

.navbar {
    padding: 0;
    cursor: pointer;
}

.nav-item:first-child {
    padding: 0 10px ;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.nav-item {
    padding: 0 10px ;
    border-right: 1px solid white;
}

.nav-item:hover {
    border-bottom: 3px solid rgb(30, 247, 30);
}

.nav-item:active {
    border-bottom: 3px solid rgb(30, 247, 30);
}

.nav-link {
    font-size: 20px;
}